div.hero-unit
  div.row-fluid
    img(src="/images/bamboo-healthy.lrg.png").span3
    div.span9
      h1 Cultivate your civic commitment.
      p 
        | Reflect, record&mdash;and be reminded of&mdash;your civic deeds and contributions.
        | Nurture a plant in our Civics Garden and water it regularly with your civic actions.
      - if(!userSession)
        p To get started, 
          a#hero-login.btn.btn-large.btn-success(href='/auth/twitter')
            i.icon-leaf.icon-white"
            |  Login with Twitter
          |  to begin growing a better civic life.
      - else 
          p Visit 
            a#hero-login.btn.btn-large.btn-success(href='/users/' + userSession.username)
              i.icon-leaf.icon-white"
              |  Your Plant
            |  to continue growing a better civic life.



div.row-fluid
  - each plant in plants
    div.span3.well.plant
      a(href="/users/" + plant.owner.username)
        img(src="/images/bamboo-#{plant.status}.png")
        h3
          img.avatar(src=plant.owner.avatarUrl)
          = plant.owner.username

h2 Recent actions
- each update in updates
  div.row-fluid
    div.span2
      img(src="/images/status-#{update.type}.png", height="50px", width="50px")
    - if(update.type === 'seed')
      div.span8 <strong>#{update.owner.username}</strong>'s civic commitment has been <strong>seeded</strong>.
    - if (update.type === 'water')
      div.span8 <strong>#{update.owner.username}</strong> #{update.description}
    - if (update.type === 'withered')
      div.span8 <strong>#{update.owner.username}</strong>'s civic commitment has <strong>withered</strong>.
    - if (update.type === 'dead')
      div.span8 <strong>#{update.owner.username}</strong>'s civic commitment has <strong>died</strong>.
    - if((update.type === 'reseed'))
      div.span8 #{update.owner.username}</strong>'s civic committment has been <strong>reseeded</strong>.
    div.span2= update.createdAt