- if(userSession && userSession.username == user.username)
  - if (!plant)
    div.row-fluid
      div.span3.well
        img(src="/images/pot.lrg.png")
        form.form-horizontal(action="/plants/#{userSession.username}", method="POST")
          input(type="hidden", name="update[type]", value="seed")
          button.btn.btn-success(type="submit") Make your Planting!
      div.span9
          strong You haven't yet planted anything!
                     
- else 
  - if (!plant)
    div.row-fluid
      div.span12
        strong #{user.username} hasn't planted anything yet

-if (plant)
  div.row-fluid
    div.span3.well
      img(src="/images/bamboo-#{plant.status}.lrg.png")
      h3
        img.avatar(src=plant.owner.avatarUrl)
        = plant.owner.username
        
      - if (userSession && userSession.username == user.username)
        - if (plant.status === 'dead')
          form.form-horizontal(action="/plants/#{userSession.username}", method="POST")
            input(type="hidden", name="update[type]", value="reseed")
            button.btn.btn-success(type="submit") Reseed your plant!

        - else 
          a.btn.btn-large.btn-primary(href="", data-toggle="modal", href="#planting-form") Water your Plant

          div#planting-form.modal(style="display: none;")
            form.modal-form.form-horizontal(action="/plants/#{userSession.username}", method="POST")
              input(type="hidden", name="update[type]", value="water")


              div.modal-header
                button.close(data-dismiss="modal") ×
                h3 Water your plant

              div.modal-body
                p Watering your plant records your civic activity
                fieldset
                  div.control-group
                    label.control-label(for="description") Describe your civic activity
                    div.controls
                      textarea(class="input-xlarge", rows="3", name="update[description]")

              div.modal-footer
                button.btn(type="submit", data-dismiss="modal") Cancel
                button.btn.btn-primary(type="submit") Water it!             
      
    div.span9
      - each update in updates
        div.row-fluid
          div.span2
            img(src="/images/status-#{update.type}.png", height="50px", width="50px")
          - if(update.type === 'seed')
              div.span8 The plant has been <strong>seeded</strong>.
          - if(update.type === 'water')
              div.span8= update.description
          - if((update.type === 'withered'))
              div.span8 The plant has <strong>withered</strong>.
          - if((update.type === 'dead'))
              div.span8 The plant has <strong>died</strong>.
          - if((update.type === 'reseed'))
              div.span8 The plant has been <strong>reseeded</strong>.
          div.span2= update.createdAt